 <ul id="nav-sticky" class="nav p-3 mb-2 bg-light text-dark">
        <li class="nav-item">
            <a class="nav-link" href="/reset-data"> Reset Data </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/team/new/edit"> Add team </a>
        </li>
    </ul>
{{>team_list teams=data.teams}}
